/* Global Styles */
:root {
  --color-text: #1a090d; /* Black */
  --color-primary: #77874e; /* Green */
  --color-secondary: #e1936e; /* Peach */
  --color-accent: #4a314d; /* Purple */
  --color-secondary-accent: #a96f47; /* Brown */
  --color-secondary-accent-transparent: rgba(
    169,
    111,
    71,
    0.4
  ); /* Transparent Brown */
  --color-background: #f8f9fa;
  --color-gray-light: #f5f5f5;
  --color-gray: #e0e0e0;
  --color-gray-dark: #757575;
  --color-white: #ffffff;
}
.nav-icon {
  font-size: 1rem;
  margin-right: 10px;
}
.nav-text {
  font-size: 1rem;
}
.logout-button {
  color: var(--color-gray-dark);
  border: none;
  padding: 12px 20px;
}

.logout-button:hover {
  color: var(--color-primary);
  background-color: transparent;
}
